---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import PostsList from '../components/PostsList';

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const posts = (await Astro.glob('./blog/**/*.{md,mdx}')).sort(
  (a, b) =>
    new Date(b.frontmatter.publishedAt).valueOf() - new Date(a.frontmatter.publishedAt).valueOf(),
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="dark:bg-slate-900">
    <Header />
    <main
      class="mt-12 prose prose-sm sm:prose-base md:prose-lg lg:prose-xl xl:prose-2xl dark:prose-invert prose-slate mx-auto p-4"
    >
      <div class="p-4">
        <h1>Index</h1>
        or see <a href="/tags/">tags</a>
        <PostsList posts={posts} />
      </div>
    </main>
    <Footer />
  </body>
</html>
